.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 70;
  background-color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 10vh;
  transform: translateX(-50%);
  width: 80%;
  height: 50vh;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 100;
  animation: slide-down 300ms ease-out forwards;
}

.btn-position {
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
}

.close--btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #000;
  border: 2px solid #fff;
  outline: 2px solid #000;
  position: relative;
}

.close {
  width: 3px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}

.close-left {
  transform: translateX(-50%) translateY(-50%) rotate(45deg)
}

.close-right {
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

@media (min-width: 350px) {
  .modal {
    height: 70vh;
  }
}

@media (min-width: 600px) {
  .modal {
    width: 35rem;
    height: auto;
  }
}

@media (min-width: 780px) {
  .modal {
    position: fixed;
    top: 20vh;
    height: auto;
    left: calc(50% - 20rem);
    width: 40rem;
    background-color: white;
    padding: 1rem;
    transform: translateX(0);
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 70;
    background-color: rgba(0, 0, 0, 0.75);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}