.name--container {
  width: 100%;
  min-width: 200px;
  position: relative;
  justify-self: start;
  margin-top: -15px;
  margin-left: -5px;
}

.name {
  height: 45px;
  background-color: #EEEEEE;
  clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 10% 100%);
  font-family: 'Roboto', sans-serif;
  margin-top: -10px;
  margin-left: 10px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 600px) {
  .name--container {
    margin-right: auto;
    margin-left: 0;
  }
}