.header {
  width: 100%;
  height: 70px;
  display: flex;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  box-sizing: border-box;
  background-color: #000;
  z-index: 10;
}

.logo--container,
.logo--container:visited {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.logo--container:hover,
.logo--container:active {
  color: darkgrey;
}

.logo {
  font-size: 2rem;
}

.logo span {
  font-size: 1.7rem;
}

.pikachu {
  height: 60%;
}

nav>ul {
  list-style: none;
}

nav ul li {
  font-size: 2rem;
}

@media (min-width: 600px) {
  .header {
    height: 100px;
    padding: 0 50px;
  }

  .logo {
    font-size: 3rem;
  }

  .pikachu {
    height: 70%;
  }
}